
body {
	background-color: #37393d;
}
#bjMainHead {
	color: white;
	text-align: center;

}
#gameBoard {
	height: 300px;
	width: 800px;
	margin: auto;
	border: solid 5px green;
	display: flex;
	
	justify-content: space-between;
	background-image: url('http://i.imgur.com/Ev61wOE.jpg');

}
.cardsHeader {
	color: white;
	font-size: 22px;
	margin: 5px 5px 5px 30px;
}
#playerCardsDiv, #dealerCardsDiv {
	background-color: rgba(0, 0, 0, 0.5);
	height: 250px;
	width: 350px;
	margin: 25px;
	flex-shrink: 1;
}
#newGame, #hit, #stand {
	height: 25px;
	width: 100px;

}
#hit {
	height: 50px;
	width: 240px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	background-color: blue;
	font-weight: bold;
	color: white;
}
#stand {
	height: 50px;
	width: 240px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	background-color: red;
	font-weight: bold;
	color: white;
}
#newGame {
	height: 50px;
	width: 240px;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	font-size: 24px;
	background-color: green;
	font-weight: bold;
	color: white;
}
#appMessages {
	color: white;
	font-size: 20px;
	margin: 10px auto;
	width: 600px;
	background-color: rgba(0, 0, 0, 0.3);
	text-align: center;
	border: solid 5px green;
}
#buttons {
	text-align: center;
	margin: 2px;
}
#buttons2 {
	text-align: center;
	margin: 2px;
}
#buttons3 {
	text-align: center;
	margin: 2px;
}

